@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  width: screen;
  overflow-x: hidden;
  background-color: #1D1D1D;
  box-sizing: border-box;
}

@layer base{
  @font-face {
    font-family: "Family";
    src: url("/Fonts/Family.ttf") format("truetype");
  }
  @font-face {
    font-family: "Satoshi-Bold";
    src: url("/Fonts/Satoshi-bold.woff") format("woff");
  }
  @font-face {
    font-family: "Satoshi-Light";
    src: url("/Fonts/Satoshi-light.woff") format("woff");
  }
  @font-face {
    font-family: "Satoshi-Med";
    src: url("/Fonts/Satoshi-med.woff") format("woff");
  }
}

@layer utilities{
  .fancy-heading{
    @apply font-Family text-yellow-50
  }
}